:root {
  --sidebar-bg-color: black;
  --player-bg-color: #282828;
  --body-bg-color: #141922;

  --sidebar-font-color: #5e5e5e;
  --sidebar-font-color-selected: #a3a3a3;

  --active-link: #a0ec2c;

  /* layout */
  --sidebar-width: 250px;
  --main-top-bar-height: 80px;
  --player-height: 100px;

  --grid-spacing: 0.25rem;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: flex;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 0.7rem;
  color: var(--sidebar-font-color-selected);
}

/* GRID */
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--grid-spacing);
  padding-right: var(--grid-spacing);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 1.5rem;
  margin-left: calc(-1 * var(--grid-spacing));
  margin-right: calc(-1 * var(--grid-spacing));
}

.col-1-6 {
  width: calc(100% / 6);
  padding-left: var(--grid-spacing);
  padding-right: var(--grid-spacing);
  padding-top: 1rem;
}

/* UTILS */

.debug {
  min-height: 100%;
  background-color: rgba(211, 211, 211, 0.491);
  border: 2px dashed red;
  padding: 1rem;
}

body {
  background-color: var(--body-bg-color);
  color: white;
}

/* APP TOP */
#app-top {
  height: calc(100vh - var(--player-height));
  display: flex;
}

.round {
  border-radius: 50%;
}

/* sidebar */

#sidebar {
  min-width: var(--sidebar-width);
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-font-color);
  font-weight: bold;
  font-size: 0.8rem;
}

#sidebar .container {
  padding: 1rem;
  height: calc(100vh - var(--player-height));
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.logo {
  width: 60%;
}

.logo #logo-small {
  display: none;
}

/* menu */

#sidebar .menu {
  padding-top: 1.5rem;
}

#sidebar li {
  align-items: center;
  gap: 10px;
  padding: 0.3rem 0;
}

#sidebar li img {
  width: 2rem;
}

.playlist-header {
  padding-top: 1rem;
}

.playlist-header h4 {
  color: white;
}

#sidebar #new-playlist {
  padding: 0.7rem 0;
}

#new-playlist div {
  background-color: var(--sidebar-font-color-selected);
  width: 2rem;
  aspect-ratio: 1;
  text-align: center;
  vertical-align: middle;
  line-height: 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--sidebar-bg-color);
  display: inline-block;
  margin-right: 5px;
}

.playlist {
  overflow: auto;
}

.playlist li {
  line-height: 2rem;
}

.profile {
  margin-top: auto;
}

.profile .download {
  display: flex;
  align-items: center;
  padding: 1rem 0;

  gap: 1rem;
}

.profile .download img {
  height: 1rem;
}

.profile .profile-details {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0 0;
  border-top: 1px solid var(--sidebar-font-color);
}

.profile .profile-details img {
  height: 2rem;
  width: 2rem;
  background-color: var(--sidebar-font-color);
  border-radius: 50%;
}

/* end sidebar */

#main-right {
  flex-grow: 1;
}

#main-top-bar {
  height: var(--main-top-bar-height);
  width: calc(100% - var(--sidebar-width));
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  right: 0;
}

#main-content {
  height: 100%;
  padding-top: var(--main-top-bar-height);

  overflow-y: auto;
}

/* TOP BAR */
#main-top-bar {
  z-index: 1;
}

#main-top-bar .container {
  width: 100%;
  height: var(--main-top-bar-height);
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#main-top-bar #upgrade {
  font-size: 0.7rem;
  font-weight: 700;
  border: 2px solid currentColor;
  width: fit-content;
  padding: 0.5rem 1.5rem;
  border-radius: 1.25rem;
}

#main-top-bar #upgrade:hover {
  font-size: 0.8rem;
}

/* MAIN CONTENT */
#main-content .container {
  margin: 1rem;
}

#main-content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0.5rem;
  font-weight: 600;
  gap: 2rem;
  color: var(--sidebar-font-color-selected);
}

.choose-album {
  padding: 1rem 0;
}

.choose-album > p {
  padding-top: 1rem;
}
.album-cover img {
  width: 100%;
}
.album-cover {
  position: relative;
  object-fit: cover;
}

.album-hover {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  aspect-ratio: 1;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  display: none;
}

.album-cover:hover .album-hover {
  display: flex;
  justify-content: center;
  align-items: center;
}

.album-card .album-details {
  text-align: center;
  font-size: 0.7rem;
}
.album-card .album-details h3 {
  padding: 0.2rem 0 0.5rem;
  font-size: 0.6rem;
}

.album-card .album-details p {
  font-size: 0.6rem;
  font-weight: 600;
  line-height: 1.5rem;
}

/* APP PLAYER */
#app-player {
  background-color: var(--player-bg-color);
  height: var(--player-height);
}

#app-player .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

/* player left */
#app-player .player-left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-left: 0.5rem;
}

.player-left .currently-playing {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.player-left img {
  width: 3rem;
}

.player-left .function-icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--sidebar-font-color);
}

/* player middle */

#app-player .player-middle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.player-middle .player-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.player-middle .progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 0.6rem;
  font-weight: 600;
}

.progress-bar .progress-bar-time-left {
  width: 350px;
  background-color: #5a5a5a;
}

.progress-bar .progress-bar-time-in {
  width: 25%;
  background-color: #afafaf;
}

/* player right */

#app-player .player-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-right: 0.5rem;
  color: #afafaf;
}

.volume-settings {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.progress-bar-time-left,
.progress-bar-time-in {
  height: 5px;
  border-radius: 2.5px;
}

.volume-bar .progress-bar-time-left {
  width: 100px;
  background-color: #5a5a5a;
}
.volume-bar .progress-bar-time-in {
  width: 25%;
  background-color: #afafaf;
}

/* MEDIA 878px */

@media screen and (max-width: 878px) {
  :root {
    --grid-spacing: 0.175rem;
  }

  .col-1-6 {
    width: calc(100% / 4);
  }

  #main-content ul {
    font-size: 0.7rem;
  }

  .player-middle .player-buttons {
    font-size: 1.2rem;
  }

  .progress-bar .progress-bar-time-left {
    width: 250px;
    background-color: #5a5a5a;
  }

  #app-player {
    font-size: 0.9rem;
  }

  #app-player .player-left,
  .player-left .currently-playing,
  .player-left .function-icons,
  #app-player .player-right,
  .volume-settings {
    gap: 0.2rem;
  }
}

/* MEDIA 639px */

@media screen and (max-width: 670px) {
  .col-1-6 {
    width: calc(100% / 2);
  }

  #main-content ul {
    font-size: 0.6rem;
  }

  #app-player {
    font-size: 0.8rem;
  }

  .player-left .function-icons {
    display: flex;
    flex-direction: column;
  }

  .progress-bar .progress-bar-time-left {
    width: 120px;
    background-color: #5a5a5a;
  }
  #app-player .player-left,
  .player-left .currently-playing,
  .player-left .function-icons,
  #app-player .player-right,
  .volume-settings {
    gap: 0.5rem;
  }
}

/* MEDIA 552px */

@media screen and (max-width: 552px) {
  :root {
    --sidebar-width: 50px;
  }

  /* SIDEBAR */
  #sidebar .container {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo #logo-big {
    display: none;
  }

  .logo #logo-small {
    display: inline-block;
  }

  .logo {
    width: 100%;
  }

  #sidebar li span {
    display: none;
  }

  #sidebar li {
    justify-content: center;
  }

  #sidebar .playlist-header,
  #sidebar .playlist,
  #sidebar .download span,
  #sidebar .profile-details h2 {
    display: none;
  }

  #sidebar .download,
  #sidebar .profile-details {
    justify-content: center;
  }
  #sidebar .profile-details {
    border-top: none;
  }

  /* TOP BAR */

  .album-card .album-details h3 {
    font-size: 1rem;
  }

  .album-card .album-details p {
    font-size: 1rem;
  }

  .player-left .currently-playing p {
    width: 50px;
  }

  #app-player .player-left,
  .player-left .currently-playing,
  .player-left .function-icons,
  #app-player .player-right,
  .volume-settings {
    gap: 0.1rem;
  }
}
